:root {
  /* colors */
  --LightRed: hsl(0, 100%, 67%);
  --OrangeyYellow: hsl(39, 100%, 56%);
  --GreenTeal: hsl(166, 100%, 37%);
  --CobaltBlue: hsl(234, 85%, 45%);
  --LightSlateBlue: hsl(252, 100%, 67%);
  --LightRoyalBlue: hsl(241, 81%, 54%);
  --VioletBlue: hsla(256, 72%, 46%, 1);
  --PersianBlue: hsla(241, 72%, 46%, 0);
  --White: hsl(0, 0%, 100%);
  --PaleBlue: hsl(221, 100%, 96%);
  --LightLavender: hsl(241, 100%, 89%);
  --DarkGrayBlue: hsl(224, 30%, 27%);

  /* font-family */
}

html {
  box-sizing: border-box;

}
/*  */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk",sans-serif;
  color: var(--LightLavender);
}

.container {
  width: 100%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: var(--White);
  /* border-radius: 30px; */
  box-shadow: 1px 1px 10px #000;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 60px;
  border-radius: 20px;
  background: linear-gradient(var(--LightSlateBlue),var(--LightRoyalBlue));
}

.result h2 {
  margin-top: 30px;
  font-size: 16px;
  color: var(--LightLavender);
}

.circle {
  background: linear-gradient(var(--VioletBlue),var(--PersianBlue));
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.circle p {
  font-size: 12px;
  font-weight: 500;
  color: var(--LightLavender);
}

.circle span {
  font-size: 50px;
  color: var(--White);
  font-weight: 700;
}

.result_type{
  text-align: center;
}

.great{
  color: var(--White);
}
.result p {
  text-align: center;
}

.result_info{
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 40px;
}

.summary {
  margin: 0 20px;
}

.summary h3 {
  color: var(--DarkGrayBlue);
}

/* .score {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .score:last-child{
    padding-left: 50px;
} */
/* .pp {
  margin-left: 50px;
} */

.score{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 0 10px;
  margin-bottom : 10px;
  border-radius: 10px;
  border: none;
  height: 50px;
}

.score span{
  color: var(--DarkGrayBlue);
  font-weight: 900;
  padding-right: 5px;
}

.score p{
  font-weight: 700;
}

.reaction,.memory{
  background-color: hsl(0, 100%, 67%,.1);;
}

.reaction h4 {
  color: var(--LightRed);
  font-size: 18px;
}

.memory h4 {
  color: var(--OrangeyYellow);
  font-size: 18px;
}

.verbal,.visual{
  background-color: hsl(166, 100%, 37%,0.1);
}

.verbal h4{
  color: var(--GreenTeal);
  font-size: 18px;
}
.visual h4{
  color: var(--CobaltBlue);
  font-size: 18px;
}

.summary_type{
  display: flex;
  gap: 10px;
}

button{
  margin-top: 20px;
  padding: 15px 90px;
  text-align: center;
  border-radius: 30px;
  border: none;
  background-color: var(--DarkGrayBlue);
  color: var(--White);
}

.attribution {
  text-align: center;
  margin-top: 50px;
}
